/* BurgerDetail */
.before{
  float: left;
  margin-top: 235px ;
  margin-left: 50px;
  padding: 10px;
  background-color: #ffbc0d;
  border-radius: 110px;
  min-width: 65px;
  border: none;
  font-size: 30px;
}

.after{
  float : right ;
  margin-top: 235px;
  margin-right: 50px;
  padding: 10px;
  background-color: #ffbc0d;
  border-radius: 110px;
  min-width: 65px;
  border: none;
  font-size: 30px;
}

.card:hover{
  background-color: #f8f8f8;
  border: 1px solid #ffbc0d;
  
}

.detailTilte{
  font-family: SUIT-ExtraBold;
  text-align: center;
}
.detailText{
  font-family: SUIT-Variable;
  text-align: center;
  white-space: pre-wrap;
}

.bgPlace, .bgAllergy{
    white-space: pre-wrap;
    padding-left: 20px;
} 

.otherInfo{
  padding: 100px;
  font-family: SUIT-Variable;
}

.otherInfoName{
  padding: 20px;
  font-weight: 800;
  border-bottom: 1px solid black;
}

.otherInfoButton {
  float : right;
  font-size: 30px;
  background-color: white;
  border: none;
  font-family: SUIT-Variable;
}

table{
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  border-spacing:0 ;
  table-layout: fixed;
}
thead{
  height: 50px;
  border-bottom: 1px solid gray;
}
tbody{
  height: 50px;
  border-bottom: 1px solid black;
}

/* .storeimage{
  background-image: url('C:\workspace_react\burger\public\image\store.jpg');
  width: auto;
  height: 400px;
    background-size: cover;
  background-repeat: no-repeat;

} */

/* 폰트 */
@font-face{
font-family: "KOTRA";
src: url('../component/KOTRA_BOLD.ttf');
}

@font-face{
font-family: "SUIT-ExtraBold";
src: url('../component/SUIT-ExtraBold.ttf');
}

@font-face{
font-family: "SUIT-Variable";
src: url('../component/SUIT-Variable.ttf');
}