.maininfo{
  margin: 50px;
  font-family: KOTRA;
}

@font-face{
font-family: "KOTRA";
src: url('../component/KOTRA_BOLD.ttf');
}

@font-face{
font-family: "SLEI";
src: url('../component/SLEIGothicTTF.ttf');
}


