*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.mainLogo{
  background-image: url('../public/image/logo.png');
  background-repeat: no-repeat;
  background-position: left-top;
  width: 110px;
  height: 90px;
}

.mainmenu{
  border-bottom: 5px solid #ffbc0d;
  margin: 5px;
}

.main1{
  background-image: url('../public/image/메인.png');
  height: 411px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2rem;
}
.main2{
  background-image: url('../public/image/메인2.jpg');
  height: 411px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2rem;
}
.main3{
  background-image: url('../public/image/메인3.jpg');
  height: 411px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2rem;
}
.burerTypeMain{
  background-image: url(C:\workspace_react\burger\public\image\typemain.jpg);
  height:250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2rem;
  overflow: hidden;
}
.burerTypeMainTitel{
  padding-top: 50px;
  padding-left: 100px;
  font-family: ROKAF_Bold;
}
.burerTypeMainText{
  padding-top: 10px;
  padding-left: 105px;
  letter-spacing: 2px;
  line-height: 1.7;
  font-family: ROKAF_Medium;
  font-size: 18px;
}

.driveImage, .deliveryImage{
  background-image: url('C:\workspace_react\burger\public\image\store.jpg');
  width: auto;
  height:250px;
  background-size: cover;
  background-repeat: no-repeat;
}

.driveTitle, .deliveryTitle{
  color: white;
  padding-top: 50px;
  padding-left: 100px;
  font-family: ROKAF_Bold;
  font-size: 30px;
  text-align: left;
}

.driveText, .deliveryText{
  color: white;
  padding-top: 10px;
  padding-left: 105px;
  letter-spacing: 2px;
  line-height: 1.7;
  font-size: 20px;
  font-family: ROKAF_Medium;
  text-align: left;
}

.mcDrive{
  margin:50px auto;
  /* position: absolute; */
}

.addr{
  display: inline-block;  
  width: 550px;
  height: 410px;
  margin: 30px auto;
  /* margin-left: 84px; */
  padding: 40px 35px 35px;
  border:1px solid #ffbc0d;
  border-radius: 20px;
  background-color: #f8f8f8;
  /* position: static; */
  font-family: SUIT-ExtraBold;
}

input{
  display: inline-block;
  margin: 10px;
  color:black;
  height: 50px;
  padding: 0 25px;
  line-height: 1;
  border: 1px solid rgb(114, 114, 114);
  border-radius: 70px;
  margin-top: 10px;
  margin-left: 7px;
  font-family: SUIT-ExtraBold;
}
.input1, .input2{
  width: 450px;

}

.input2{
  position: relative;
  top: -75px;
}

.input3, .input4, .input3_1, .input4_1, .inputText {
  position: relative;
  top: -80px;
}

.input3, .input4{
  width: 100px;
}

.addrFind{
    display: inline;
    position: relative;
    margin: 10px;
    left: 143px;
    top: -71px;
    height: 52px;
    min-width: 160px;
    padding: 0 35px;
    font-size: 15px;
    border: 1px solid rgb(43, 43, 43);
    border-radius: 70px;
    background-color: #ffbc0d;
    font-family: SUIT-ExtraBold;
}

.inputText{
  font-family:SUIT-Variable;
  text-align: center;
}

.search{
    display: inline-block;
    position: relative;
    left: 0px;
    top: -80px;
    height: 52px;
    min-width: 160px;
    padding: 0 35px;
    font-size: 15px;
    border: 1px solid rgb(43, 43, 43);
    border-radius: 70px;
    background-color: #ffbc0d;
    font-family: SUIT-ExtraBold; 
}
.deliveruInfo{
  display: inline-block;  
  width: 550px;
  height: 410px;
  margin: 30px auto;
  padding: 40px 35px 35px;
  left: 20px;
  top: -44px;
  border:1px solid #ffbc0d;
  border-radius: 20px;
  background-color: #f8f8f8;
  position: relative;
  font-family: SUIT-ExtraBold;
  text-align: left;
  line-height: 2;
}

.footer{
  margin-top: 20px;
  padding-left: 20px;
  padding-top: 10px;
  width: 100%;
  height: 150px;
  font-size: 15px;
  background-color: #ffbc0d;
  color: rgb(45, 44, 44);
  line-height: 2;
}


@font-face{
font-family: "ROKAF_Bold";
src: url('./component/ROKAF Sans Bold.ttf');
}

@font-face{
font-family: "ROKAF_Medium";
src: url('./component/ROKAF Sans Medium.ttf');
}

@font-face{
font-family: "SUIT-ExtraBold";
src: url('./component/SUIT-Variable.ttf');
}

@font-face{
font-family: "SUIT-Variable";
src: url('./component/SUIT-Variable.ttf');
}

@media only screen and (max-width: 1200px) {
  .deliveruInfo{
    left: 0px;
  }
}