.mainLogo{
  background-image: url('../public/image/logo.png');
  background-repeat: no-repeat;
  background-position: left-top;
  width: 110px;
  height: 90px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
/* .main4{
  background-video: url('https://youtu.be/1XDKnRCIFMc');
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2rem;
} */
.main1{
  background-image: url('../public/image/메인.png');
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2rem;
}
.main2{
  background-image: url('../public/image/메인2.jpg');
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2rem;
}
.main3{
  background-image: url('../public/image/메인3.jpg');
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2rem;
}
.burerTypeMain{
  background-image: url('C:\workspace_react\burger\public\image\제목 없음1.jpg');
  height:526px;
  width: 1122px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin : 0 auto;
}


